In [1]:
from pycaret.datasets import get_data
from pycaret.classification import *

data = get_data('iris')
clf = setup(data, target='species')
lr = create_model('lr')

print(lr.name)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

AttributeError: 'LogisticRegression' object has no attribute 'name'